<?xml version="1.0"?>
<idevice>
    <title>Interactive video</title>
    <css-class>interactive-video</css-class>
    <category>Assessment and tracking</category>
    <icon>
        <name>interactive-video-icon</name>
        <url>interactive-video-icon.svg</url>
        <type>img</type>
    </icon>
    <version>2.0</version>
    <api-version>3.0</api-version>
    <component-type>json</component-type>
    <edition-js>
        <filename>interactive-video.js</filename>
    </edition-js>
    <edition-css>
        <filename>interactive-video.css</filename>
    </edition-css>
    <export-js>
        <filename>interactive-video.js</filename>
    </export-js>
    <export-css>
        <filename>interactive-video.css</filename>
    </export-css>
    <export-template-filename>interactive-video.html</export-template-filename>
    <downloadable>0</downloadable>
</idevice>
